body {
    font-family: "roboto","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto;
    width: 1440px;
}

nav {
    padding: .75em;
    background: rgba(0,0,0,0.6);
    text-align: center;
}

nav a {
    margin: 0 auto;
    padding: 0 2.43em;

    
    color: #ffffff;
    text-decoration: none;
    font-size: .9em;
    font-weight: 200;
}

nav a:hover{
    opacity:.6;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
}

.appleicon img{
    height:1.55em;
    vertical-align: middle;
}

.searchicon img{
    width: 1.12em;
    vertical-align: middle;
}
