body {
    font-family: "roboto","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto;
    width: 1440px;
}


div.buystrip-blocks{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
}


.buystrip-blocks a {
    display: inline-block;
    width: 208px;
    margin-top: 80px;
    padding: .85em;
    
    text-align: center;
    text-decoration: none;
    color: #666666;
    
}

.buystrip-blocks h4 {
    margin-top: .5em;
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.5em;
} 

.buystrip-blocks p {
    padding-bottom: .8em;
    margin-top: .15em;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.8em;
} 

.buystrip-blocks span {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.5em;
    color: #08c;
}


span.myapple {
    font-weight: 400;
    color: #666666;
    text-decoration: none;
}

a:hover .buystrip-span{
    text-decoration: underline;
}

span.span-icon {
    text-decoration: none;
    padding-left: 3px;
}

a .divider{
    position: absolute;
    display: block;
    height: 190px;
    left: inherit;
    top: 100px;
    bottom: 0;
    border-right: 1px solid #e3e3e3;
}

