body {
    margin: 0;  
    padding: 0;
    font-family: "roboto","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 16px;
    font-weight: 100;
    background-color: aqua;
}

.blackbar {
    background: rgba(0, 0, 0, 0.6);
}

nav {
    height: 46px;
    width: 1000px;
    margin: 0 auto;
    

}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 35px;
    display: inline-block;
    font-size: 0.8em;
    
    height: 46px;
    line-height: 46px;

}

nav a:first-of-type{
    margin-left: 0;

}

nav a:last-of-type{
    margin-right: 0;

}

.subnav li, .subnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subnav {
    height: 135px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
}

.subnav ul {
    padding-top: 10px;
    display: inline-block;
    width: 692;
}

.subnav li{
    text-align: center;
    height: 113px;
    margin: 0 23px;
    display: inline-block;

}

.subnav a {
    padding-top: 99px;
    color: #666666;
    background-repeat: no-repeat;
    
    background-position: top center;
    display: block;
    text-decoration: none;
    font-size: .75em;
}

.subnav a:hover{
    color: #333333

}
.subnav li:nth-child(1) a{
    background-image:url(http://images.apple.com/iphone/home/images/productbrowser/icon_iphone_6.png);
    width: 68px;
}

.subnav li:nth-child(2) a{
    background-image: url(http://images.apple.com/iphone/home/images/productbrowser/iphone_accessories.png);

}

.subnav li:nth-child(3) a{
    background-image: url(http://images.apple.com/iphone/home/images/productbrowser/compare.png);
}

.subnav li:nth-child(4) a{
    background-image: url(http://images.apple.com/iphone/home/images/productbrowser/ios.png);
    width: 47px;

}

.subnav li:nth-child(5) a{
    background-image: url(http://images.apple.com/iphone/home/images/productbrowser/icloud.png);
    width: 45px;

}



